@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-shimmer {
    animation: shimmer 2s infinite;
  }

  .animate-fade-in {
    animation: fade-in 0.5s ease-out forwards;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}